/* Custom fonts */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap");

/* Defaults & Resets */
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.fw{
  width: 100%;
}
.fl{
   float: left;
}
.fr{
  float: right;
}
a{
  text-decoration: none;
  transition: all 0.2s;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #E0E6F2;
  color: #373B53;
  font-weight: 400;
  font-size: 16px;
}

/* Heading */
h1{
  margin: 32px 0;
  font-size: 32px;
}

/* Container */
.container{
  margin: 0 auto;
  max-width: 600px;
  padding: 0 16px 40px;
}

/* Forms elements */
input, textarea{
  display: block;
  width: 100%;
  margin-bottom: 24px;
  height: 40px;
  outline: 0 none;
  border: 0;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 16px;
  padding: 8px 16px;
  box-shadow: 0 6px 12px 0 rgba(158, 161, 173, 0.3);
  font-family: 'Source Sans Pro', sans-serif;
  transition: all 0.2s;
}
textarea{
  padding: 16px;
  height: 300px;
}

.btn-actions{
  padding-top: 16px;
}

.btn{
  outline: 0 none;
  border: 0;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  background-color: #050787;
  color: #ffffff;
  padding: 11px 24px;
  font-weight: 600;
  display: inline-block;
  line-height: 1;
  min-width: 100px;
  text-align: center;
  border-radius: 20px;
  transition: all 0.2s;
}
.btn:hover{
  opacity: 0.8;
}
.btn.btn-danger{
  background-color: #F44336;
}
.btn-blue.btn-blue{
  background-color: #2196F3;
}

.header .search-input{
  margin: 32px 0;
  width: 45%;
}

/* Recipe Cards */
.recipe-container{
  margin: 0;
  padding: 0;
  list-style: none;
}
.recipe-container li{
  display: block;
  margin-bottom: 16px;
}
.recipe-container li a{
  display: block;
  background-color: white;
  padding: 10px 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #d2d7e3;
}
.recipe-container li a:hover{
  box-shadow: 0 4px 8px #cdced0;
}
.recipe-container li p{
  margin: 0 0 4px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #050787;
}
.recipe-container li span{
  display: block;
  font-size: 14px;
  color: #9EA1AD;
}


/* Ingredients Container */
.ingredients-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -2%;
}

.ingredients-col{
  margin: 0 2% 24px;
  width: 46%;
  min-height: 24px;
  position: relative;
  padding-right: 24px;
}

.ingredients-col button{
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  padding: 0;
  background: no-repeat;
  outline: 0 none;
  cursor: pointer;
  opacity: 0.6;
}
.ingredients-col button:hover{
  opacity: 1;
}


/* Custom Checkbox */
.checklist {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
  font-size: 17px;
  min-height: 24px;
  display: inline-block;
}

.checklist input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #ffffff;
  font-style: normal;
  border-radius: 4px;
  box-shadow: 0 6px 8px 0 rgba(158, 161, 173, 0.3);
  transition: all 0.2s;
}
.checklist .checkmark:after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: all 0.2s;
}

/* hover state */
.checklist:hover input ~ .checkmark {
  background-color: #ccc;
}

/* Checked state */
.checklist input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checklist input:checked ~ .checkmark:after {
  display: block;
}

/* not checked */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.ingredient-form{
  position: relative;
  width: 58%;
}
.ingredient-form input{
  padding-right: 92px;
}
.ingredient-form .btn{
  position: absolute;
  right: 0;
  top: 0;
  min-width: 80px;
}

/* BELOW 768px */
@media (max-width: 767px){
  .header h1{
    width: 100%;
    margin-bottom: 16px;
  }

  .header .search-input{
    float: left;
    margin: 0 0 32px;
    width: 100%;
  }

  .ingredient-form{
    width: 100%;
  }
  .ingredients-container{
    margin: 0;
  }

  .ingredients-col{
    margin-right: 0;
    width: 100%;
  }
}