@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap");

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
